html, body {
    padding: 0;
    margin: 0;
}

#bash {
    width: calc(100% - 0.8rem);
    height: calc(100vh - 2.8rem);
    border: none;
    padding: 0.4rem;
    resize: none;
    background: #2c3e50;
    color: #ecf0f1;
    margin: 0;
    font-size: 14px;
    font-family: monospace;
    line-height: 17px;
    white-space: pre;
}

#toolbar {
    height: 2rem;
    overflow: hidden;
    background: #34495e;
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: monospace;
    line-height: 17px;
}

#toolbar > input[type="submit"], #toolbar > button {
    height: 100%;
    border: none;
    margin: 0;
    padding: 0 1rem;
    background: none;
    color: #ecf0f1;
}

#toolbar > input[type="submit"]:hover, #toolbar > button:hover {
    background: rgba(0, 0, 0, 0.3);
    cursor: pointer;
}
